@using System.Data;
@{
    ViewBag.Title = "Index";
}


<table class="table">

    @{ 
        foreach(var each in ViewBag.root)
        {
            <tr>
                <td>
                    @each.MenuId
                </td>
                <td>
                    @each.MenuName
                </td>
               
            </tr>
        }
    }


</table>
