
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>_GridView</title>
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <link href="~/Content/oa/style/common.css" rel="stylesheet"  type="text/css"/>
    <link href="~/Content/easyui/jquery-easyui-1.4.1/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/easyui/jquery-easyui-1.4.1/themes/icon.css" rel="stylesheet" />
    <script src="~/Content/easyui/jquery-easyui-1.4.1/jquery.easyui.min.js"></script>
    <script src="~/Content/easyui/jquery-easyui-1.4.1/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Content/oa/scripts/common.js"></script>
    @RenderSection("header", required: false)
</head>
<body>
    @RenderSection("body", required: true)
    @RenderSection("scripts", required: false)
</body>
</html>
